# Ignora i file di sistema Mac
.DS_store

# Ignora la cartella node_modules
Embeddings

# Ignora cartelle cache
__pycache__

# Ignore contents of dataset directory
Dataset/*

#but not the original dataset
!Dataset/power-gb-train.tsv

# Ignore model checkpoints
Checkpoints

#ignore huggingface checkpoints
test_trainer
venv